name: API breaking changes

on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-apibreakage
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: swift:latest@sha256:6dd90eb2359663a2cde8f03e9951f488b23134b3b8fce20e9dcb6cada75dd803
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      with:
        fetch-depth: 0
        persist-credentials: false
    # https://github.com/actions/checkout/issues/766
    - name: Mark the workspace as safe
      run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
    - name: API breaking changes
      run: |
        swift package diagnose-api-breaking-changes origin/${GITHUB_BASE_REF}
