name: CI

on: [push, pull_request]

jobs:
  macOS:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ['5.1', '5.2']
    container:
      image: swift:${{ matrix.tag }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Test
      run: swift test --parallel --enable-code-coverage
