name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  macOS:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ['swift:6.0', 'swift:6.1', 'swift:6.2']
    container:
      image: ${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Test
      run: swift test --parallel --enable-code-coverage
